@tailwind base;
@tailwind components;
@tailwind utilities;

.center-site {
  margin: auto;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 700px) {
  .center-site {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
}

.center {
  margin: auto;
  padding: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.card-margin {
  margin: 10px;
}

.button-margin {
  margin: 2px;
}

.stock-delete {
  position: absolute;
  top:0;
  right:0;
  margin:8px;
}
.stock-delete:hover {
  background-color: #c40202;
  color: white;
  border:2px solid white;
}

.watchlist-button{
  display:block;
  margin: 24px;
}